@model IEnumerable<Reservation>
@{ Layout = "_Layout"; ViewBag.Title = "All Reservations";}

<h2>All Reservations</h2>
<a asp-action="AddReservation" class="btn btn-sm btn-primary">Add</a>
<a asp-action="GetReservation" class="btn btn-sm btn-secondary">Get</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Guest</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>Language</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
        <tr>
            <td>@r.Id</td>
            <td>@r.PrimaryGuest.FirstName + @r.PrimaryGuest.LastName</td>
            <td>@r.PrimaryGuest.BirthDate</td>
            <td>@r.PrimaryGuest.Gender</td>
            <td>@r.PrimaryGuest.NationalityCountryCode</td>
            <td>
                <a asp-action="UpdateReservation" asp-route-id="@r.Id">Update</a>
            </td>
            <td>
                <form asp-action="DeleteReservation" method="post">
                    <input type="hidden" value="@r.Id" name="ReservationId" />
                    <input type="image" src="/icon/close.png" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>